# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# Environment files
venv/
env/
.env/
.env
/.env
*.env


# Testing
**/.pytest_cache/

# AWS credentials & keys
*.pem
credentials

# IDE / editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*/.vscode/
**/.vscode/
*/.idea/


# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Python egg
*.egg-info/

# Generated reports
reports/
.json
*.json
**.json


